body,
html {
  /* Color */
  background-color: lightgrey;
  /* Display */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Text */
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 10vh 75vh 5vh;
}

.header {
  /* Display */
  display: flex;
  justify-content: center;
  /* min-width: 100%; */
  /* Color */
  background-color: #fffbf6;
}

.header > .header-wrapper {
  /* Display */
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(400px, 80vw, 1200px);
}

.header > .header-wrapper > .header-button {
  /* Display */
  background-color: lightgrey;
  border: none;
  min-width: 5rem;
  min-height: 45%;
  border-radius: 5%;
  /* Text */
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: semi-bold;
}

.header > .header-wrapper > .header-button:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.nav {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > .add-book-button {
  /* Display */
  background-color: lightgrey;
  border: none;
  min-width: 10rem;
  min-height: 45%;
  border-radius: 5%;
  margin: 25px;
  /* Text */
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: semi-bold;
}

.nav > .add-book-button:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.main {
  background-color: aquamarine;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > form {
  background-color: teal;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px darkgrey;
  border-radius: 5px;
}

.main > form > label {
  color: white;
}

.main > form > input {
  width: 100%;
  padding: 5px 3px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  background-color: teal;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid ivory;
  color: white;
  font-size: 18px;
}

.main > form > input:focus-visible {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid violet;
  box-shadow: none;
  outline: none;
}

.main > form > input:visited {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid violet;
  box-shadow: none;
  outline: none;
}

.main > form > input:hover {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid violet;
  box-shadow: none;
  outline: none;
}

.main > form > input:focus-within {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid violet;
  box-shadow: none;
  outline: none;
}

.main > form > input:focus {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid violet;
  box-shadow: none;
  outline: none;
}

.main > form > input:active {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid violet;
  box-shadow: none;
  outline: none;
}

.main > form > input:target {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid violet;
  box-shadow: none;
  outline: none;
}

.main > form > .checkbox {
  accent-color: violet;
}

.main > form > .checkbox:hover {
  cursor: pointer;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 1rem;
  height: 15vh;
  padding: 5px;
}

.book {
  background-color: ivory;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px 0 10px;
  box-shadow: 0px 0px 5px 0px darkgray;
}

.book > h3 {
  margin: 0.5rem;
}

.book > p {
  margin: 0.5rem;
}

.footer {
  background-color: white;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
